name: Testing
on:
  push:
    branches: ["*"]
    paths-ignore:
      - 'docs/**'
      - 'pyproject.toml'
      - '*.md'
    tags-ignore: ["*"]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.12", "3.13"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: pip install -e '.[dev]'

      - name: Run ruff check
        run: ruff check .

      - name: Run ruff format check
        run: ruff format --check .

      - name: Run unittests
        run: coverage run && coverage report && coverage xml

      - name: Upload Coverage
        uses: codecov/codecov-action@v4
        with:
          file: build/coverage.xml
